<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

  <div class="profileCard">

    <div class="welcomeMessage">
      <h1>Hello <%= userInfo.user_name %></h1>
      <img src="<%= userInfo.pfp_url %>">
    </div>

    <form action="/updateUsername" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newUsername" value="<%= userInfo.user_name %>">
      <button>update</button>
    </form>

    <form action="/updateEmail" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newEmail" value="<%= userInfo.email %>">
      <button>update</button>
    </form>

    <form action="/updatePassword" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newPassword" value="<%= userInfo.password %>">
      <button>update</button>
    </form>

    <form action="/updateFirstName" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newFirstName" value="<%= userInfo.firstName %>">
      <button>update</button>
    </form>

    <form action="/updateLastName" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newLastName" value="<%= userInfo.lastName %>">
      <button>update</button>
    </form>

    <form action="/updatePfp" method="POST" class="profileUpdateForm">
      <input type="hidden" name="newPfpUrl" value="<%= userInfo.pfp_url %>">
      <button>update</button>
    </form>

    <form action="/updateSex" method="POST" class="profileUpdateForm">

      <button>update</button>
    </form>

  </div>

</body>

</html>